In [40]:
import pandas as pd
data = pd.read_csv('IRIS.csv')
data.drop("Id",inplace=True,axis=1)
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [41]:
data.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [42]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']],data['Species'], test_size=0.1)

In [44]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
40             5.0           3.5            1.3           0.3
62             6.0           2.2            4.0           1.0
10             5.4           3.7            1.5           0.2
84             5.4           3.0            4.5           1.5
142            5.8           2.7            5.1           1.9
..             ...           ...            ...           ...
96             5.7           2.9            4.2           1.3
120            6.9           3.2            5.7           2.3
17             5.1           3.5            1.4           0.3
13             4.3           3.0            1.1           0.1
134            6.1           2.6            5.6           1.4

[135 rows x 4 columns]

In [45]:
y_train

40         Iris-setosa
62     Iris-versicolor
10         Iris-setosa
84     Iris-versicolor
142     Iris-virginica
            ...
96     Iris-versicolor
120     Iris-virginica
17         Iris-setosa
13         Iris-setosa
134     Iris-virginica
Name: Species, Length: 135, dtype: object

In [46]:
from sklearn import linear_model
mymodel = linear_model.LogisticRegression(max_iter=120)
mymodel.fit(X_train,y_train)

LogisticRegression(max_iter=120)

In [47]:
mymodel.predict(X_test)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa'],
      dtype=object)

In [48]:
mymodel.score(X_test, y_test)

1.0

In [52]:
import joblib
joblib.dump(mymodel,"mymodel_joblib")

['mymodel_joblib']